*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header__logo{
    width: auto;
    height: auto;
}

.header__icon{
    display: none;
}


.header{
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color:#1C1C1C;
    height: 60px;
}

.header__menu a{
    font-size: 14pt;
    height: 14pt;
    display: flex;
    align-items: center;
    border-left: 2px solid white;
}

.navbar-nav li:first-child > a{
    border-left: none;
}

.navbar__search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.navbar__search input[type="text"]{
    box-sizing: border-box;
    background: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: none;
}

::-webkit-input-placeholder{
    color: rgba(255,255,255,0.7) !important;
}

::-moz-placeholder{
    color: white;
}

::-ms-input-placeholder{
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card de filmes */

.title h1{
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 300px;
    height: 450px;
}

.movie-info{
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    letter-spacing: 0.5px;
    
}

.movie-info h5{
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    padding: auto;
    justify-content: center;
    font-weight: bold;
}

.movie-info span{
    position: absolute;
    padding: 30px;
    text-align: center;
    top: 2%;
    right: 4%;
    color: white;
    background-color: #C33764;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    background-color: #24ce24;
}

.movie-info span.orange{
    background-color: orange;
}

.movie-info span.red{
    background-color: red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}

/* Modal */

/* .modal-container {
    width: 100vw;
    height: 100vh;
    background: blue;
    position: fixed;
    top: 0px;
    left: 0px;
} */

/* Footer */

.footer{
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 5px 0;
    width: 100%;
    background-color: #1C1C1C;
    color: white;
}